{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "20" } }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    },
    "production": {
      "plugins"  : [
        "@babel/plugin-external-helpers"
      ]
    }
  }
}
