{
  "presets": [["env", {"modules": false}], "stage-3"],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-react-jsx"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "production": {
      "plugins"  : [
        "external-helpers"
      ]
    }
  }
}
