{
  "extends": ["molindo/react"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["react-hooks", "@typescript-eslint"],
  "env": {
    "es6": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "no-unused-vars": "off",
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",
    "valid-jsdoc": "off"
  },
  "globals": {
    "ReadonlyArray": false
  }
}
